.faq {
    &-header {
        text-align: center;
        padding: 20px;
    }

    &-point {
        padding: 40px;

        &-question {
            color: pink;
            font-size: 25px;
            font-weight: bold;
            text-align: left;
            background-color: black;
            border-radius: 10px;
            padding: 10px;

        }

        &-answer {
            color: #666;
            font-style: italic;
            text-align: left;
        }
    }
}