.productList {
    width: 800px;
    margin: 0 auto;
    outline: none;

}

.pagination {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;


    .page-link {
        border: none;
        color: grey;
        outline: none;
    }

    .active .page-link {
        color: #333;
        font-weight: bold;
        background: white;
        outline: none;
    }

    .page-item {
        border: none;
    }
}