.product {
    background: rgb(226, 176, 196);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin: 40px;
    padding: 10px;

    &:hover {
        cursor: pointer;
        transition: 0.5s;
        opacity: 0.7;
        text-decoration: none;
    }

    &-photo {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    &-name {
        margin-top: 10px;
    }

    &-info,
    &-name,
    &-price {
        color: rgb(192, 24, 103);

    }

    &-info,
    &-name {
        font-weight: bold;
        font-size: 20px;
    }
}