.basket {
    &-name {
        display: flex;
        justify-content: center;
        padding: 30px;
        font-weight: bolder;
        color: rgb(192, 24, 103);
    }

    // active basket
    &-active {
        &-product {
            padding: 5px;
            margin: 5px 0;
            border: 1px rgb(158, 152, 152) solid;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;

            &-photo-img {
                padding: 10px;
                width: 100%;
                height: auto;
                border-radius: 5px;
            }

            &-quantity-button,
            &-quantity-value {
                display: inline-flex;
                margin: 20px 10px 20px;
                padding: 5px 15px;
                text-align: center;
                background: black;
                border: none;
                border-radius: 5px;
                color: rgb(197, 184, 184);


                &:hover {
                    transition: 0.5s;
                    color: rgb(255, 192, 203);
                }
            }

            &-price {
                font-weight: bolder;
                text-align: center;
                padding: 20px 0;
            }

            &-description-name {
                font-weight: bolder;
                font-size: 1.1rem;
                padding: 5px;
            }
        }

        &-promo,
        &-sum,
        &-pay {
            text-align: right;
            padding: 5px;
            margin: 5px;
        }
    }

    // summary basket
    &-summary {
        &-line {
            background: #efefef;
            font-weight: bolder;
            padding: 5px;
            margin: 20px 10px;
            border: 1px #dddddd solid;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            &-element,
            &-element-sum {
                text-align: center;
            }

            &-element-name,
            &-element-sum {
                font-size: 1.5em;
            }
        }

        &-product {
            padding: 5px;
            margin: 5px 5px;
            border: 1px rgb(172, 162, 162) solid;

            &-price {
                text-align: center;
            }
        }
    }
}