.terms {

    &-header {
        text-align: center;
        padding: 40px;
        font-weight: bolder;
        color: rgb(192, 24, 103);
    }

    &-regulations {
        text-align: justify;
        padding: 0 200px;
        color: rgb(105, 83, 105);
    }
}