.home {
    display: flex;

    &--sorting {

        &-header {
            margin-top: 45px;
            margin-left: 20px;
            font-weight: bold;
            color: rgb(47, 45, 45);
        }

        &-list {
            cursor: pointer;
            padding: 10px;
            margin: 10px;
            list-style-type: none;
            font-size: 1em;
            color: #777;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 200px;
        }

        &-list-element {
            &:hover {
                color: pink;
                transition-duration: 0.2s;
            }
        }
    }
}