.contact {
    text-align: center;
    padding: 50px;
    color: rgb(105, 83, 105);

    &-header {
        text-align: center;
        padding: 40px;
        font-weight: bolder;
        color: rgb(192, 24, 103);
    }

    &-phone,
    &-mail {
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        color: rgb(105, 83, 105);
        padding: 5px;

        &:hover {
            text-decoration: none;
            color: rgb(192, 24, 103);
        }
    }

    &-social {
        display: flex;
        justify-content: center;

        &-twitter,
        &-facebook,
        &-instagram,
        &-github {
            padding: 10px;


            &:hover {
                cursor: pointer;
                transition: 0.5s;
                opacity: 0.5;
                transform: scale(1.20);
            }
        }

        &-twitter {
            color: rgb(64, 153, 255);
        }

        &-facebook {
            color: rgb(59, 89, 152);
        }

        &-instagram {
            color: rgb(92, 61, 46);
        }

        &-github {
            color: rgb(65, 131, 196);
        }
    }
}